/**
Colors By Level
**/

$needs-work-on-this: rgb(255, 170, 0);
$cool: rgb(253, 49, 127);
$you-rock: rgb(0, 177, 255);

/**
Simple Colors
**/

$color-light: #FFF;
$color-gray-light: #ced4da;
$color-gray-dark: #7b8086;
$color-green-light: #84d83c;
$color-green-lightest: #33D15E;
$color-green-dark: #71bd30;
$color-green-dark-rgba: rgba(61, 212, 101, 0.425);

/** 
Gradients
**/

$black-gradient: linear-gradient(180deg, #000000 0%, #181616 11%, #000000 100%);
$green-gradient: linear-gradient(179deg, #A4EE64 0%, #2CCF5E 91%, #A3EE63 100%);
