@import "./../../../globalStyles/variables.scss";

label {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.form-group {
    small {
        display: block;
        margin-left: 4px;
    }

    select {
        option {
            font-weight: 400;
        }
        
    }
}

small.range {
  display: flex;
  justify-content: space-between;
}

.active-range {
  font-weight: 600;
  color: red;
}

   
